.position{
    transform: rotate(0deg) scale(1, 1);
    opacity: 1;
    position: absolute;
    backface-visibility: hidden;
    left: 25px;
    top: 22px;
    width: 35px;
    height: 35px;
    overflow: visible;
}
.position2{
    transform: rotate(0deg) scale(1, 1);
    opacity: 1;
    position: absolute;
    backface-visibility: hidden;
    left: 38px;
    top: 22px;
    width: 35px;
    height: 35px;
    overflow: visible;
}